.messages-div {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 2vw;
    margin-top: 2vh;
    height: 20vh;
}
.new-here {
    width: 100%;
    height: 100%;
    background-color: #d9d9d9;
    border-radius: 25px;
}
.coming-soon {
    width: 100%;
    height: 100%;
    background-color: #d9d9d9;
    border-radius: 25px;
}